name: Test

on:
  push:
    branches: [ master ]
    
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Run tests
      run: npm install && npm run lint && npm run test
